@font-face {
  font-family: 'SfProDisplay';
  src: url('fonts/SFProDisplay-Regular.woff') format('woff'),
       url('fonts/SFProDisplay-Regular.woff2') format('woff2');
  /* Specify other font properties like font-weight and font-style if desired */
}

body {
  font-family: 'SfProDisplay';
  background-image: url('images/Asset.png');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 1512px;
  height: 981px; 
}

/* Group 7 */
#main {
  position: absolute;
  width: 696px;
  height: 552px;
  left: 408px;
  top: 238px;
}

/* Group 6 */
#heading {
  /* POSITION IS ABSOLUTE IN FIGMA MOCKUP */
  /* position: absolute; */
  width: 553px;
  height: 96px;
  left: 408px;
  top: 238px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* or 100% */ 
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

/* We are heads down on building this product towards an early alpha launch in Q2 2023. Reserve your handle, share this page and follow us. */
#sub-heading {
  /* POSITION IS ABSOLUTE IN FIGMA MOCKUP */
  /* position: absolute; */
  width: 522px;
  height: 96px;
  left: 408px;
  top: 370px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  /* or 24px */
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
  padding-bottom: 48px;
}

.input-container {
  position: relative;
  display: flex;
  gap: 10px;
}

.input-gap {
  padding-top: 12px;
}

/* Inputs */
.name-email {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  width: 343px;
  height: 56px;
  /* Background/Primary */
  background-color: #000000;
  /* Border/Secondary */
  border: 2px solid #3D3D3D;
  border-radius: 16px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  cursor: text;
  color: #FFFFFF;
}

.name-email::placeholder {
  color: #FFFFFF;
}

#handle {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 16px;
  width: 696px;
  height: 56px;
  /* Background/Primary */
  background: #000000;
  /* Text/Success */
  border: 2px solid #129A14;
  border-radius: 16px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  cursor: text;
  color: #FFFFFF;
}

#handle::placeholder {
  color: #FFFFFF;
}

#fine-print {
  width: 696px;
  height: 40px;
  /* Small Bold */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  display: flex;
  align-items: center;
  /* Text/Primary */
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.submit-button {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 4px;
  font-weight: 700;
  /* POSITION IS ABSOLUTE IN FIGMA MOCKUP */
  /* position: absolute; */
  width: 343px;
  height: 56px;
  left: 408px;
  top: 734px;
  /* Button/Primary */
  background: #FFFFFF;
  border-radius: 16px;
  border: none;
}

.submit-button:hover {
  background-color: rgb(246, 255, 0);
  border: 1px black solid;
  cursor: pointer;
}
